#education>ul {
    width: 1180px;
    height: 455px;
    padding: 0;
    margin: 80px 0 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#experience, #research {
    background-color: rgb(239, 239, 239);
}

#experience>ul {
    width: 1180px;
    height: 215px;
    padding: 40px 0 40px 0;
    margin: 40px 0 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#education>ul>li:first-child, #experience>ul>li {
    font-size: 35px;
    border: solid 2.5px black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 400px;
    height: 44.5px;
}

#certificates>ul>li:first-child, #research>ul>li:first-child {
    font-size: 28px;
    border: solid 2.5px black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 400px;
    height: 64px;
}

#certificates>ul {
    width: 1180px;
    height: 600px;
    padding: 0;
    margin: 40px 0 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#research>ul {
    width: 1180px;
    height: 600px;
    padding: 40px 0 0 0;
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#degrees {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: 700px;
}

#achivements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: 60px 0 0 0;
    width: 700px;
    height: 500px;
}

#papers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: 60px 0 0 0;
    width: 700px;
    height: 500px;
}

#exp {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 0 0 0;
    margin: 20px 0;
    text-align: justify;
    width: 700px;
}

#degrees>li>ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0;
    margin: 20px 0;
    text-align: justify;
}

#achivements>li>ul, #papers>li>ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0;
    margin: 5px 0;
    text-align: justify;
}

#degrees>li>ul>li, #exp>li, #achivements>li>ul>li, #papers>li>ul>li{
    padding: 0;
    margin: 5px;
}

#degrees>li>ul>li:first-child, #exp>li:first-child {
    font-size: 22px;
}

#achivements>li>ul>li:first-child, #papers>li>ul>li:first-child {
    font-size: 18px;
}

#degrees>li>ul>li:nth-child(2), #exp>li:nth-child(2) {
    font-size: 18px;
    color: rgb(0, 140, 225);
    font-weight: bold;
}

#achivements>li>ul>li:nth-child(2) {
    font-size: 14px;
    color: rgb(0, 140, 225);
    font-weight: bold;
}

#papers>li>ul>li:nth-child(2) {
    font-size: 14px;
}

#degrees>li>ul>li:nth-child(3), #exp>li:nth-child(3) {
    font-size: 14px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#achivements>li>ul>li:nth-child(3), #papers>li>ul>li:nth-child(4) {
    font-size: 12px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#papers>li>ul>li:nth-child(3) {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: center;
}

#degrees>li>ul>li:nth-child(3)>img, #exp>li:nth-child(3)>img, #achivements>li>ul>li:nth-child(3)>img, #papers>li>ul>li:nth-child(4)>img {
    width: 25px;
    height: 25px;
}

#goup-edu-exp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 0 40px 0;
}

#goup-edu-exp>button {
    width: 80px;
    height: 40px;
    font-size: 15px;
    font-family: 'Lato';
    border-radius: 5px;
    border: solid rgb(74, 89, 105);
    border-top: 0;
    border-left: 0;
    padding: 5px;
}

#goup-edu-exp>button:hover {
    color: white;
    background-color: rgb(74, 89, 105);
    cursor: pointer;  
}

.button-certificates>form>button {
    border-radius: 5px;
    border: solid rgb(170, 61, 61);
    border-top: 0;
    border-left: 0;
    padding: 5px;
    font-family: 'Lato';
}

.button-research>form>button {
    background-color: white;
    border-radius: 5px;
    border: solid rgb(170, 61, 61);
    border-top: 0;
    border-left: 0;
    padding: 5px;
    font-family: 'Lato';
}

.button-certificates>form>button:hover, .button-research>form>button:hover {
    color: white;
    background-color: rgb(170, 61, 61);;
    cursor: pointer;
}