.margin-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

main>div:last-child, main>div:nth-child(4) {
    background-color: rgb(239, 239, 239);
}

#margin-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45vh;
    background-color: rgb(239, 239, 239);
}

#education, #experience {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    margin: 5% 0;
    max-width: 1366px;
}

#education-title, #experience-title {
    font-size: 28px;
    border: solid 2.5px black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 25%;
    height: 10%;

}

#degrees {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    width: 50%;
}

#degrees>div>p:first-child, #exp>p:first-child {
    font-size: 22px;
    margin: 15px 0;
}

#degrees>div:last-child {
    margin-top: 5%;
}

#degrees>div>p:nth-child(2), #exp>p:nth-child(2) {
    font-size: 18px;
    color: rgb(0, 140, 225);
    font-weight: bold;
    margin: 15px 0;
}

#degrees>div>p:nth-child(3)>img, #exp>p:nth-child(3)>img, #achivements>div>p:nth-child(3)>img, #papers>div>p:nth-child(4)>img {
    width: 25px;
    height: 25px;
}

#degrees>div>p:nth-child(3), #exp>p:nth-child(3) {
    font-size: 14px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 15px 0;
    text-align: justify;
}

#exp {
    padding: 1% 0;
    margin: 0;
    width: 50%;
}

#certificates-title, #research-title {
    font-size: 24px;
    border: solid 2.5px black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 25%;
    height: 10%;
}

#certificates, #research {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5% 0;
    width: 85%;
    max-width: 1366px;
}

#achivements, #papers {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
}

#achivements>div>p:first-child, #papers>div>p:first-child {
    font-size: 16px;
    margin: 1% 0;
}

#achivements>div>p:nth-child(2) {
    font-size: 14px;
    color: rgb(0, 140, 225);
    font-weight: bold;
    margin: 1% 0;
}

#achivements>div>p:nth-child(3), #papers>div>p:nth-child(4) {
    font-size: 12px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 1% 0;
}

#achivements>div:nth-child(2), #achivements>div:last-child, 
#papers>div:nth-child(2), #papers>div:last-child {
    margin-top: 7%;
}

#papers>div>p:nth-child(2) {
    font-size: 14px;
    margin: 1% 0;
}

#papers>div>p:nth-child(3) {
    font-size: 12px;
    font-weight: bold;
    margin: 1% 0;
}

.button-certificates>button {
    border-radius: 5px;
    border: solid rgb(170, 61, 61);
    border-top: 0;
    border-left: 0;
    padding: 5px;
    font-family: 'Lato';
}

.button-research>button {
    background-color: white;
    border-radius: 5px;
    border: solid rgb(170, 61, 61);
    border-top: 0;
    border-left: 0;
    padding: 5px;
    font-family: 'Lato';
}

.button-certificates>button:hover, .button-research>button:hover {
    color: white;
    background-color: rgb(170, 61, 61);;
    cursor: pointer;
}

#goup-edu-container {
    padding: 0 0 5% 0;
}

#goup-edu-container>a {
    text-decoration: none;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {

    #degrees, #education-title,
    #exp, #experience-title,
    #achivements, #certificates-title,
    #papers, #research-title {
        flex-basis: 90%;
    }

    #degrees, #exp, #achivements,
    #papers {
        width: 100%;
        text-align: justify;
    }

    #degrees>div:first-child, #degrees>div:last-child {
        margin-top: 2%;
    }

    #achivements>div:first-child, #papers>div:first-child {
        margin-top: 7%;
    }

    #achivements>div:nth-child(2), #achivements>div:last-child, #papers>div:nth-child(2), #papers>div:last-child {
        margin-top: 5%;
    }

    #education, #experience {
        width: 100%;
    }

    #education-title, #experience-title {
        font-size: 24px;
    }

    #degrees>div>p:first-child, #exp>p:first-child {
        font-size: 18px;
    }

    #degrees>div>p:nth-child(2), #exp>p:nth-child(2) {
        font-size: 15px;
    }

    #degrees>div>p:last-child, #exp>p:last-child {
        font-size: 14px;
    }

    #certificates-title, #research-title {
        font-size: 20px;
    }

    #achivements>div>p:first-child, #papers>div>p:first-child {
        font-size: 14px;        
    }

    #certificates, #research {
        width: 100%;
    }
}
  
  /* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {

    #degrees, #education-title,
    #exp, #experience-title,
    #achivements, #certificates-title,
    #papers, #research-title {
        flex-basis: 80%;
    }

    #degrees, #exp, #achivements,
    #papers {
        width: 100%;
        text-align: justify;
    }

    #degrees>div:first-child, #degrees>div:last-child {
        margin-top: 2%;
    }

    #achivements>div:first-child, #papers>div:first-child {
        margin-top: 7%;
    }

    #achivements>div:nth-child(2), #achivements>div:last-child, #papers>div:nth-child(2), #papers>div:last-child {
        margin-top: 5%;
    }

    #education, #experience {
        width: 100%;
        margin: 5%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    

}

/* Super Long Screens */
@media only screen and (min-height: 769px) {

    .margin-container2, #margin-container3 {
        min-height: auto;
    }
    
}