#fullsize-skill {
    width: 100%;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0;
    padding: 0;
    width: 90%;
    max-width: 1366px;
}

#skills-content>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills-content>div>p {
    font-size: 28px;
    border: solid 2.5px black;
    font-weight: bold;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 90%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.lang {
    margin: 12% 0;
    padding: 0;
}

.dot {
    font-size: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
}

ul>li {
    list-style-type: none;
}

.dot>li>span {
    color: rgb(0, 140, 225);
}

#level {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lang>li {
    padding-top: 5px;
}

.lang>li:first-child {
    font-size: 18px;
    font-weight: bold;
}

.lang>li:last-child {
    font-size: 16px;
    color: rgb(101, 105, 109);
}

#languages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    margin: 0;
    padding: 0;
    width: 400px;
}

#set2-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 450px;
    margin: 3% 0;
    padding: 0;
}

#set2-skills>li {
    height: 100%;
}

.skill-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.skill-list>li {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-size: 16px;
    border: solid rgb(169, 169, 169);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin: 5% 0;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {

    #skills-content>div:last-child {
        margin-top: 5%;
    }

    #languages {
        width: 300px;
    }

    .dot {
        font-size: 25px;
    }

    #skills-content>div>p {
        font-size: 24px;
    }

    .lang>li:first-child {
        font-size: 16px;
    }
    
    .lang>li:last-child {
        font-size: 14px;
    }

    #set2-skills {
        width: 320px;
    }

    #set2-skills>li {
        flex-basis: 60%;
    }

    #skills-content>div>p {
        width: 270px;
    }

    .skill-list>li {
        margin: 3% 0;
        white-space: nowrap;
    }

}
  
  /* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {

    #skills-content>div:last-child {
        margin-top: 5%;
    }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    

}

/* Super Long Screens */
@media only screen and (min-height: 769px) {

    #fullsize-skill {
        min-height: auto;
    }

}